# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
.venv/

# Environment variable files
.env

# Python egg files
*.egg

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other unnecessary files
*.log
*.DS_Store